<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  
</head>
<body>

<!--navbar-->
<div style="color: white";>
<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">RSQUARE CORPORATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/compiler">Compiler<span class="sr-only">(current)</span></a>
           
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline nav navbar-nav navbar-right">
         <li style="color: black;padding: 5px" class="btn" type="button">Sign Up<i class="fa fa-user" aria-hidden="true"></li>
         &nbsp;
         <li style="color: black;padding: 5px" class="btn" type="button">Log in<i class="fa fa-user" aria-hidden="true"></li>
    </form>
  </div>
</nav>
</div>


<div class="contestweblink  container" >


<div class="card"  style="font-size: 200%">
  <div class="card-header text-white bg-primary ">
    CodeChef
  </div>
  <div class="card-body" style="background-color:#4ea7e8;color: white;">
    <p class="card-text">Here you can see active contest</p>
    <a href="/contest/codechef" class="btn btn-primary">CLICK HERE TO SEE</a>
  </div>
</div>

<div class="card"  style="font-size: 200%">
  <div class="card-header text-white bg-primary ">
    Hackerrank
  </div>
  <div class="card-body" style="background-color:#4ea7e8;color: white;">
    <p class="card-text">Here you can see active contest</p>
    <a href="/contest/hackerrank" class="btn btn-primary">CLICK HERE TO SEE</a>
  </div>
</div>







<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>






</body>
</html>
